{{define "header"}}
    <tr>
        <td class="header">
            <a href="https://mael-91.me" style="display: inline-block;">
                <img src="https://raw.githubusercontent.com/Mael-91/mael-91.me/master/src/assets/images/icon-152x152.png" class="logo" alt="Mael's portfolio logo">
            </a>
        </td>
    </tr>
{{end}}

{{define "footer"}}
    <tr>
        <td>
            <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="content-cell" align="center">
                        &copy; 2020 <a href="https://mael-91.me">mael-91.me</a>, All Right Reserved
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{{end}}

{{define "subcopy"}}
    <table class="subcopy" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td>
            </td>
        </tr>
    </table>
{{end}}