<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.Subject}}</title>
    <link rel="stylesheet" href="https://raspberry.mael-91.me/style.css">
</head>
<body>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center">
                <table class="content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    {{template "header"}}
                <!-- Email Body -->
                    <tr>
                        <td class="body" width="100%" cellpadding="0" cellspacing="0">
                            <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell">
                                        <h1 style="text-align: center;">{{.Subject}}</h1>
                                        <div align="center">{{.Message}}</div>
                                        <br>
                                        <br>
                                        <small>Envoyé depuis {{.Email}} par {{.Firstname}} {{.Lastname}}</small>
                                        {{template "subcopy"}}
                                        <ul class="list-footer" style="font-size: 14px; display: flex; justify-content: center">
                                            <li style=""><a href="https://mael-91.me">Site internet</a></li>
                                            <li><a href="tel:0769919096">Téléphone : 07.69.91.90.96</a></li>
                                            <li><a href="mailto:contact@mael-91.me">Mail : contact@mael-91.me</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {{template "footer"}}
                </table>
            </td>
        </tr>
    </table>
</body>
</html>